@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,500;1,600&display=swap');
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 0 auto;
}

.skills {
    margin-bottom: 1em;
}

.skill {
    margin: 0 auto;
    padding-bottom: 0.5em;
    padding: 0.5em;
    text-align: center;
}

.skill h3 {
    text-align: center;
    font-size: 200;
    color: #fff;
    padding-top: 1.5em;
}

.skill img {
    width: 150px;
    height: 150px;
    align-content: space-between;
}